footer{
  display: flex;
  justify-content: space-between;
  padding-block: 24px;
}
footer div{
  display: flex;
  gap: 24px;
}
@media (width < 80em) {
  footer{
    gap: 1rem;
    padding-block: 1rem;
    flex-direction: column;
    & > span {
      text-align: center;
    }
    & div {
      justify-content: center;
    }

  }
  
}