#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-block: 24px;
  background-color: var(--background-color);
}

#gallery img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  transition: .3s ease-in-out;
  cursor: pointer;
}
#gallery img:hover {
  scale: 1.1;
}

@media (width < 80em) {
  #gallery {
    padding-block: 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    & img {
      width: 100%;
    }
  }
  #gallery.conteiner {
    padding-inline: 1rem;
  }
}
