*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{

  /* Cores do projeto   */
  --brand-color:#EF5F4C;
  --background-color:#FFFFFF;
  --surface-color:#F5F5F5;
  --skeleton-color:#D9D9D9;
  --shape-transparency:#ffffff91;
  --text-color-primary:#313131;
  --text-color-secondary:#6C6C6C;

  /* Fontes do Projeto e tamanhos de fontes */
  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family); 
  --text: 16px var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);

  --text-mobile: bold 24px/125% var(--font-family); 
}
body {
  background-color: var(--background-color);
  color: var(--text-color-secondary);
}

a{ 
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--brand-color);
  text-decoration: underline;
}

.bg-surface-color{
  background-color: var(--surface-color);
}
