header {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--text-md);
}

#profile {
  display: flex;
  align-items: center;
  gap: 32px;
  & img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  & > div {
    max-width: 384px;
  }

  & h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
  }
}

@media (width < 80em) {
  header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    & #profile {
      margin-bottom: 2rem;
    }

    &.conteiner{
      padding-top: 1rem;
    }
  }

  #profile {
    flex-direction: column;
    align-items: start;
    & h1 {
      font: var(--text-mobile);
    }
    & img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }

  }

}

#info {
  align-items: center;
  width: 280px;
}

#info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}





