& #header-profile {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--text-md);
}

& #header-profile .profile {
  display: flex;
  align-items: center;
  gap: 32px;
  & img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  & > div {
    max-width: 384px;
  }

  & h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
  }
  .name-profile {
    font: var(--text);
    font-weight: 600;
  }
}

#header-btn {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  & button {
    background-color: white;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #ef5f4c;
    font: var(--text-md);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19);
  }
   & button:hover {
    background-color: #ef5f4c;
    color: white;
  }
}

@media (width < 80em) {
  & #header-profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    & .profile {
      margin-bottom: 2rem;

      flex-direction: column;
    }

    &.conteiner {
      padding-top: 1rem;
    }
  }

  & #profile {
    flex-direction: column;
    align-items: start;
    & h1 {
      font: var(--text-mobile);
    }
    & img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }
  #header-btn {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  & button {
    padding: 0.5rem .5rem;
  }
}
}

#info {
  align-items: center;
  width: 280px;
}

#info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}
