.lightbox {
  background-color: rgba(0, 0, 0, 0.938);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;

  & .lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .descrition {
    width: 20%;
    background-color: blue;
    height: 645px;
    & p{
      color: white;
      padding: .5rem;
    }
  }

  & a {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  & a:hover {
    color: rgb(247, 64, 64);
  }
}

@media (width < 80em) {
  & .lightbox {
    padding: 1rem;
    & img {
      width: 100%;
    }

    & a {
      top: 1rem;
      right: 1rem;
    }
  }
}
