.lightbox {
  background-color: rgba(0, 0, 0, 0.938);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;

  & .lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .descrition {
    width: 30%;
    background-color: transparent;
    height: 645px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .descrition-header {
      display: flex;
      flex-direction: column;
      padding-block: initial;
      gap: 1rem;
      align-items: initial;
      & .profile {
        gap: 0.5rem;
        align-items: initial;
        & spam {
          color: white;
          font: var(--text-sm);
          font-weight: 600;
        }

        & img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
      }

      & p {
        color: white;
        border-radius: 10px;
        padding: 1rem;
      }
    }

    & .descrition-comment {
      display: flex;
      gap: 1rem;
      margin-top: auto;
      & input {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 10px;
      }
      & button {
        border: none;
        border-radius: 10px;
        padding: 0.5rem;
        background-color: white;
        cursor: pointer;
      }
      & button:hover {
        background-color: #ef5f4c;
      }
    }

    & .descrition-lc {
      padding-inline: 2rem;
      & li {
        list-style: none;
        display: flex;
        gap: 1rem;
        color: white;
        margin-bottom: 1rem;
        & img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
        & span {
          color: gray;
          font: var(--font-family);
          font-size: x-small;
          padding-top: 5px;
        }
      }
    }
  }

  & #btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  & #btn-close:hover {
    color: #ef5f4c;
  }

  & #arrow-left,
  #arrow-right {
    font-size: 3rem;
    padding: 2rem;
    color: white;
    cursor: pointer;
  }
  & #arrow-left:hover,
  #arrow-right:hover {
    color: #ef5f4c;
  }
}

@media (width < 80em) {
  .lightbox {
    overflow-y: auto; /*ok*/
    padding-bottom: 2rem;
    & .lightbox-content {
      flex-direction: column; /*ok*/
      #lightbox-img {
        width: 100%; /*ok*/
      }
    }
    & .descrition {
      width: 100%; /*ok*/
      padding: 0; /*ok*/
      height: auto; /*ok*/
      .descrition-header {
        gap: 0rem; /*ok*/
        & .profile {
          gap: 0.5rem; /*ok*/
          align-items: center; /*ok*/
          flex-direction: row; /*ok*/
          margin-bottom: initial; /*ok*/
          padding-block: 1rem 0.5rem; /*ok*/
        }
        & p {
          padding: 0.5rem; /*ok*/
        }
      }
    }

    & #btn-close {
      font-size: 1rem;
    }

    & #arrow-left,
    #arrow-right {
      font-size: 1rem;
      padding: 0.2rem;
    }
  }
}
