.lightbox {
  background-color: rgba(0, 0, 0, 0.938);
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 100px;
}
.lightbox-content {
  display: flex;
  justify-content: center;

}
